---
interface Props {
  title: string;
  state: string;
}
const { title, state } = Astro.props;
const close = `${state} = false`;
---
<div class="modal-overlay" x-show={state} @click.self={close} x-transition>
  <div class="modal">
    <div class="modal-header">
      <h2 class="modal-title">{title}</h2>
      <button class="panel-close" @click={close}>&#x2715;</button>
    </div>
    <div class="modal-body">
      <slot name="body" />
    </div>
    {Astro.slots.has('footer') && (
      <div class="modal-footer">
        <slot name="footer" />
      </div>
    )}
  </div>
</div>
